#Generic
numpy
scipy

#Galois Fields
galois

#Testing
pytest

#VLLM
vllm

#ML
transformers
torch
accelerate 
sentencepiece

#Setup Package
-e .


#Other
fastapi>=0.111
uvicorn[standard]>=0.30
accelerate>=0.30
python-dotenv>=1.0

create-vite>=7.1.1